@using TypeAhead.Models
@model TypeAhead.Models.WebControlsEntities

@{
    ViewBag.Title = "Cascading Dropdown Sandbox";
}

<h2>Cascading Dropdown</h2>

<fieldset>
    @*@Html.LabelFor(m => m.Clients)*@
    @Html.TextBoxFor(m => m.Clients, new { @autocomplete = "off", @class = "typeahead", @placeholder = "Client" })
</fieldset>

<input id="idField" class="typeahead" type="text" value="" disabled />


<fieldset>
    @*@Html.LabelFor(m => m.AdTags)*@
    @Html.DropDownListFor(m => m.AdTags, new List<SelectListItem>(), "AdTags")

</fieldset>

<fieldset>
    @*@Html.LabelFor(m => m.AdUnits)*@
    @Html.DropDownListFor(m => m.AdUnits, new List<SelectListItem>(), "AdUnits")
</fieldset>


<script src="~/Scripts/typeahead.bundle.min.js"></script>


<script type="text/javascript">

    @***********************************************************************************************@
    @*  Cascading Dropdown Logic                                                                   *@
    @***********************************************************************************************@
    $(function () {
        "use strict";
        function selectFromAjax(url, formData, target) {
            $(target).html("");
            if (formData.id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data, textStatus) {
                        if (data) {
                            $(data.items).each(function () {
                                $(target).append($('<option></option>').attr("value", this.Value).text(this.Text));
                            });
                            $(target).change();
                        }
                    },
                    dataType: 'json'
                });
            } else {
                $(target).change();
            }
        }



        $('#AdTags').attr('disabled', true);
        var selector = {
            client: "select#@Html.IdFor(m => m.Clients)",
            adTag: "select#@Html.IdFor(m => m.AdTags)"
        }

        function getAdTags(id) {
            selectFromAjax('@Url.Action("GetAdTags", "Home")', { id: id }, $(selector.adTag));
            $('#AdTags').attr('disabled', false);
        };



        $('#AdUnits').attr('disabled', true);
        var selector = {
            adTag: "select#@Html.IdFor(m => m.AdTags)",
            adUnit: "select#@Html.IdFor(m => m.AdUnits)"
        }

        $(selector.adTag).click(function () {
            selectFromAjax('@Url.Action("GetAdUnits", "Home")', { id: $(this).find("option:selected").val() }, $(selector.adUnit));
            $('#AdUnits').attr('disabled', false);
        });

        @***********************************************************************************************@
        @*  Typeahead Logic                                                                            *@
        @***********************************************************************************************@

        var clients = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '../GetNewClients?q=%QUERY',
                wildcard: '%QUERY'
            }
        });

        clients.initialize();

        function setHiddenValue(id, callback) {
            $('#idField').val(JSON.stringify(id));
            callback(id);
        }

        $('#Clients').typeahead({
            hint: true,
            limit: 10,
            highlight: true,
            minLength: 1,
            matcher: function () { return true; }
        }, {
            name: 'Clients',
            displayKey: 'Name',
            source: clients.ttAdapter()
        })
            .on("typeahead:select", function (obj, client) {
                setHiddenValue(client.Id, getAdTags);
            });
    });
</script>